.container {
  background-color: white;
  padding: 16px;
}

.inside-container {
  margin-bottom: 50px;
}

.float-left {
  display: inline-block;
}

.float-right {
  display: inline-block;
  float: right;
}

.table-headers {
  background-color: #eee;
  margin: 16px 0px;
  padding: 8px;
}

.iterator-css {
  padding: 8px;
}
